BuildingAzureDataPipelineCoe/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "BuildingAzureDataPipelineCoe"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline8')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "Coe_Bussiness_Source",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Filter1",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set variable1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"condition": {
								"value": "@greater(string(variables('last')),utcnow())",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Lookup1_copy1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT MAX(Time) last FROM [dbo].[Data_Load_Ref_Table]",
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "Coe_Bussiness_Source_Table",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Lookup1_copy1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "last",
							"value": {
								"value": "@array(activity('Lookup1_copy1').output.value[0].last)",
								"type": "Expression"
							}
						}
					}
				],
				"variables": {
					"last": {
						"type": "Array"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Automation_Source_wise')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "Coe_Bussiness_Source_Table",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Switch1",
									"type": "Switch",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"on": {
											"value": "@item().Copy_Model",
											"type": "Expression"
										},
										"cases": [
											{
												"value": "SqlServer_ADLS2",
												"activities": [
													{
														"name": "Execute Pipeline1",
														"type": "ExecutePipeline",
														"dependsOn": [],
														"userProperties": [],
														"typeProperties": {
															"pipeline": {
																"referenceName": "SQLSERVER_ADLS2",
																"type": "PipelineReference"
															},
															"waitOnCompletion": true,
															"parameters": {}
														}
													}
												]
											},
											{
												"value": "SqlServer_FileSystem",
												"activities": [
													{
														"name": "Execute Pipeline2",
														"type": "ExecutePipeline",
														"dependsOn": [],
														"userProperties": [],
														"typeProperties": {
															"pipeline": {
																"referenceName": "SQLSERVER_FILESYSTEM",
																"type": "PipelineReference"
															},
															"waitOnCompletion": true,
															"parameters": {}
														}
													}
												]
											},
											{
												"value": "FileSystem_ADLS2",
												"activities": [
													{
														"name": "Execute Pipeline3",
														"type": "ExecutePipeline",
														"dependsOn": [],
														"userProperties": [],
														"typeProperties": {
															"pipeline": {
																"referenceName": "FileSytem_ADLS2",
																"type": "PipelineReference"
															},
															"waitOnCompletion": true,
															"parameters": {}
														}
													}
												]
											}
										]
									}
								}
							]
						}
					}
				],
				"folder": {
					"name": "COE"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stored Procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Execute Pipeline1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[DROPDUPLICATES]"
						},
						"linkedServiceName": {
							"referenceName": "SqlServer_Coe",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Execute Pipeline1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipeline1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Pipeline_For_FullLoad')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "cp_OnPrim_SqlServer_Bussiness",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Coe_Business_cp",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "cp_activity_sourcewise",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Stored Procedure_data_Load_Control_Table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Automation_Source_wise",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Stored Procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "cp_activity_sourcewise",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Data_Load_Control_Table_Ref]",
							"storedProcedureParameters": {
								"Actitity_runid": {
									"value": {
										"value": "@activity('cp_activity_sourcewise').activityRunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Activity_name": {
									"value": {
										"value": "@pipeline().parameters.Second_Activity",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecutionEndTime": {
									"value": {
										"value": "@activity('cp_activity_sourcewise').ExecutionEndTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ExecutionStartTime": {
									"value": {
										"value": "@activity('cp_activity_sourcewise').ExecutionStartTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"Pipeline_Name": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"Pipeline_Runid": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": {
										"value": "@activity('cp_activity_sourcewise').Status",
										"type": "Expression"
									},
									"type": "String"
								},
								"StatusCode": {
									"value": {
										"value": "@activity('cp_activity_sourcewise').StatusCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"activity_pipeline_info": {
									"value": {
										"value": "@activity('cp_activity_sourcewise').output",
										"type": "Expression"
									}
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer_Coe",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Stored Procedure_data_Load_Control_Table",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "cp_OnPrim_SqlServer_Bussiness",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Data_Load_Control_Table_Ref]",
							"storedProcedureParameters": {
								"Actitity_runid": {
									"value": {
										"value": "@activity('cp_OnPrim_SqlServer_Bussiness').activityRunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Activity_name": {
									"value": {
										"value": "@pipeline().parameters.First_Activity",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecutionEndTime": {
									"value": {
										"value": "@activity('cp_OnPrim_SqlServer_Bussiness').ExecutionEndTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ExecutionStartTime": {
									"value": {
										"value": "@activity('cp_OnPrim_SqlServer_Bussiness').ExecutionStartTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"Pipeline_Name": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"Pipeline_Runid": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": {
										"value": "@activity('cp_OnPrim_SqlServer_Bussiness').Status",
										"type": "Expression"
									},
									"type": "String"
								},
								"StatusCode": {
									"value": {
										"value": "@activity('cp_OnPrim_SqlServer_Bussiness').StatusCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"activity_pipeline_info": {
									"value": {
										"value": "@activity('cp_OnPrim_SqlServer_Bussiness').output",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer_Coe",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Stored Procedure_Error_Log",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "cp_OnPrim_SqlServer_Bussiness",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Error_Log_Table_Ref]",
							"storedProcedureParameters": {
								"Actitity_runid": {
									"value": {
										"value": "@activity('cp_OnPrim_SqlServer_Bussiness').activityRunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Activity_name": {
									"value": {
										"value": "@pipeline().parameters.First_Activity",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecutionEndTime": {
									"value": {
										"value": "@activity('cp_OnPrim_SqlServer_Bussiness').ExecutionEndTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ExecutionStartTime": {
									"value": {
										"value": "@activity('cp_OnPrim_SqlServer_Bussiness').ExecutionStartTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"Pipeline_Name": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"Pipeline_Runid": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": {
										"value": "@activity('cp_OnPrim_SqlServer_Bussiness').Status",
										"type": "Expression"
									},
									"type": "String"
								},
								"StatusCode": {
									"value": {
										"value": "@activity('cp_OnPrim_SqlServer_Bussiness').StatusCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"activity_pipeline_info": {
									"value": {
										"value": "@activity('cp_OnPrim_SqlServer_Bussiness').output",
										"type": "Expression"
									}
								},
								"error_message": {
									"value": {
										"value": "@activity('cp_OnPrim_SqlServer_Bussiness').Error.Message",
										"type": "Expression"
									}
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer_Coe",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Stored Procedure1_copy1_copy1_copy1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "cp_activity_sourcewise",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Error_Log_Table_Ref]",
							"storedProcedureParameters": {
								"Actitity_runid": {
									"value": {
										"value": "@activity('cp_OnPrim_SqlServer_Bussiness').activityRunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Activity_name": {
									"value": {
										"value": "@pipeline().parameters.Second_Activity",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecutionEndTime": {
									"value": {
										"value": "@activity('cp_OnPrim_SqlServer_Bussiness').ExecutionEndTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ExecutionStartTime": {
									"value": {
										"value": "@activity('cp_OnPrim_SqlServer_Bussiness').ExecutionStartTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"Pipeline_Name": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"Pipeline_Runid": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": {
										"value": "@activity('cp_OnPrim_SqlServer_Bussiness').Status",
										"type": "Expression"
									},
									"type": "String"
								},
								"StatusCode": {
									"value": {
										"value": "@activity('cp_OnPrim_SqlServer_Bussiness').StatusCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"activity_pipeline_info": {
									"value": {
										"value": "@activity('cp_OnPrim_SqlServer_Bussiness').output",
										"type": "Expression"
									}
								},
								"error_message": {
									"value": {
										"value": "@activity('cp_activity_sourcewise').output.errors[0].Message",
										"type": "Expression"
									}
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer_Coe",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"First_Activity": {
						"type": "string",
						"defaultValue": "cp_OnPrim_SqlServer_Bussiness"
					},
					"Second_Activity": {
						"type": "string",
						"defaultValue": "cp_activity_sourcewise"
					}
				},
				"folder": {
					"name": "COE"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Automation_Source_wise')]"
			]
		}
	]
}