BuildingAzureDataPipelineCoe/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "BuildingAzureDataPipelineCoe"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "FileServer1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "Bussiness.txt",
						"folderPath": "input"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FileSytem_Dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "FileServer1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"dir": {
						"type": "string"
					},
					"filename": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Coe_Dtc_Automation"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().dir",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Coe_Business_cp')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_OnPrim_Sqlserver_Component",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Coe_Bussiness_Source",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Coe_Bussiness_Source_Table",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "UniqueRecords",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy_OnPrim_Sqlserver_Component",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[DROPDUPLICATES]"
						},
						"linkedServiceName": {
							"referenceName": "SqlServer_Coe",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "COE"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FileSytem_ADLS2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "\nselect d.* \nFROM Data_Load_Ref_Table d\nLEFT JOIN [dbo].[Copy_act_Component] cc\nON cc.S_No = d.S_No\nWHERE Copy_Model = 'FileSystem_ADLS2'",
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "Coe_Bussiness_Source_Table",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "FileServerReadSettings",
												"recursive": true,
												"wildcardFileName": "*"
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings",
												"copyBehavior": "FlattenHierarchy"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "FileSytem_Dataset",
											"type": "DatasetReference",
											"parameters": {
												"dir": {
													"value": "@item().Source_Dir",
													"type": "Expression"
												},
												"filename": {
													"value": "@item().Source_FileName",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ADLS2_Dataset",
											"type": "DatasetReference",
											"parameters": {
												"Target_Dir": {
													"value": "@item().Target_Dir",
													"type": "Expression"
												},
												"filename": {
													"value": "@item().Source_FileName",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Stored Procedure1",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy data1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[Copy_act_Component_Ref]",
										"storedProcedureParameters": {
											"name": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"pipeline_id": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"rowsCopied": {
												"value": {
													"value": "@activity('Copy data1').output.rowsCopied",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"rowsRead": {
												"value": {
													"value": "@activity('Copy data1').output.rowsRead",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"runid": {
												"value": {
													"value": "@activity('Copy data1').activityRunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"S_No": {
												"value": {
													"value": "@item().S_No",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"Schema_Name": {
												"value": null,
												"type": "String"
											},
											"sink": {
												"value": {
													"value": "@activity('Copy data1').output.executionDetails[0].sink.type",
													"type": "Expression"
												},
												"type": "String"
											},
											"source": {
												"value": {
													"value": "@activity('Copy data1').output.executionDetails[0].source.type",
													"type": "Expression"
												},
												"type": "String"
											},
											"start": {
												"value": {
													"value": "@activity('Copy data1').output.executionDetails[0].start",
													"type": "Expression"
												},
												"type": "String"
											},
											"status": {
												"value": {
													"value": "@activity('Copy data1').output.executionDetails[0].status",
													"type": "Expression"
												},
												"type": "String"
											},
											"Table_Name": {
												"value": null,
												"type": "String"
											},
											"time": {
												"value": {
													"value": "@utcnow()",
													"type": "Expression"
												},
												"type": "Datetime"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "SqlServer_Coe",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Stored Procedure2",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy data1",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[Copy_act_Component_errors_Ref]",
										"storedProcedureParameters": {
											"full_load_errors": {
												"value": {
													"value": "@activity('Copy data1').output.errors[0].Message",
													"type": "Expression"
												},
												"type": "String"
											},
											"name": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"pipeline_id": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"runid": {
												"value": {
													"value": "@activity('Copy data1').activityRunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"S_No": {
												"value": {
													"value": "@item().S_No",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"Schema_Name": {
												"value": null,
												"type": "String"
											},
											"Table_Name": {
												"value": null,
												"type": "String"
											},
											"time": {
												"value": {
													"value": "@utcnow()",
													"type": "Expression"
												}
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "SqlServer_Coe",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"folder": {
					"name": "COE"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/FileSytem_Dataset')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/POC')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyIntoAdls2",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SqlServer_To_Adls2_Multiple_Tables",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "RunAnalytics",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyIntoAdls2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "TriggerAnalytics",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLSERVER_FILESYSTEM')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "select d.* , s.* \nFROM sqlserver_conf s\nINNER JOIN Data_Load_Ref_Table d\nON s.Source_Name_Conf = d.Source_Name\nLEFT JOIN [dbo].[Copy_act_Component] cc\nON d.S_No = cc.S_No\nWHERE Target_Type = 'FileSystem' ",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "Coe_Bussiness_Source_Table",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"queryTimeout": "02:00:00"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "FileServerWriteSettings",
												"copyBehavior": "FlattenHierarchy"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "Sql_server_Full_Parametrized",
											"type": "DatasetReference",
											"parameters": {
												"Schema_Name": {
													"value": "@item().Schema_Name",
													"type": "Expression"
												},
												"Table_Name": {
													"value": "@item().Table_Name",
													"type": "Expression"
												},
												"Host_Name": {
													"value": "@item().HostName",
													"type": "Expression"
												},
												"Database_Name": {
													"value": "@item().DataBasename",
													"type": "Expression"
												},
												"Username": {
													"value": "@item().UserName",
													"type": "Expression"
												},
												"Password": {
													"value": "@item().password",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "FileSytem_Dataset",
											"type": "DatasetReference",
											"parameters": {
												"dir": {
													"value": "@item().Target_Dir",
													"type": "Expression"
												},
												"filename": {
													"value": "@item().Table_Name",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Stored Procedure1",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy data1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[Copy_act_Component_Ref]",
										"storedProcedureParameters": {
											"name": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"pipeline_id": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"rowsCopied": {
												"value": {
													"value": "@activity('Copy data1').output.rowsCopied",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"rowsRead": {
												"value": {
													"value": "@activity('Copy data1').output.rowsRead",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"runid": {
												"value": {
													"value": "@activity('Copy data1').activityRunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"S_No": {
												"value": {
													"value": "@item().S_No",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"Schema_Name": {
												"value": {
													"value": "@item().Schema_Name",
													"type": "Expression"
												},
												"type": "String"
											},
											"sink": {
												"value": {
													"value": "@activity('Copy data1').output.executionDetails[0].sink.type",
													"type": "Expression"
												},
												"type": "String"
											},
											"source": {
												"value": {
													"value": "@activity('Copy data1').output.executionDetails[0].source.type",
													"type": "Expression"
												},
												"type": "String"
											},
											"start": {
												"value": {
													"value": "@activity('Copy data1').output.executionDetails[0].start",
													"type": "Expression"
												},
												"type": "String"
											},
											"status": {
												"value": {
													"value": "@activity('Copy data1').output.executionDetails[0].status",
													"type": "Expression"
												},
												"type": "String"
											},
											"Table_Name": {
												"value": {
													"value": "@item().Table_Name",
													"type": "Expression"
												},
												"type": "String"
											},
											"time": {
												"value": {
													"value": "@utcnow()",
													"type": "Expression"
												},
												"type": "Datetime"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "SqlServer_Coe",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Stored Procedure2",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy data1",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[Copy_act_Component_errors_Ref]",
										"storedProcedureParameters": {
											"full_load_errors": {
												"value": {
													"value": "@activity('Copy data1').output.errors[0].Message",
													"type": "Expression"
												},
												"type": "String"
											},
											"name": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"pipeline_id": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"runid": {
												"value": {
													"value": "@activity('Copy data1').activityRunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"S_No": {
												"value": {
													"value": "@item().S_No",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"Schema_Name": {
												"value": {
													"value": "@item().Schema_Name",
													"type": "Expression"
												},
												"type": "String"
											},
											"Table_Name": {
												"value": {
													"value": "@item().Table_Name",
													"type": "Expression"
												},
												"type": "String"
											},
											"time": {
												"value": {
													"value": "@utcnow()",
													"type": "Expression"
												},
												"type": "Datetime"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "SqlServer_Coe",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"folder": {
					"name": "COE"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/FileSytem_Dataset')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DelimitedText2",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SqlServerTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Stored Procedure2",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[dependent_staging_table_errors]",
							"storedProcedureParameters": {
								"ACITIVITY_RUN_ID": {
									"value": {
										"value": "@activity('Copy data1').activityRunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"error_Message": {
									"value": {
										"value": "@activity('Copy data1').output.errors[0].Message",
										"type": "Expression"
									},
									"type": "String"
								},
								"NAME": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"Pipeline_run_ID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"RUN_START": {
									"value": {
										"value": "@activity('Copy data1').output.executionDetails[0].start",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"STATUS": {
									"value": {
										"value": "@activity('Copy data1').output.executionDetails[0].status",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer_Coe",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Stored Procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[dependent_staging_table]",
							"storedProcedureParameters": {
								"ACITIVITY_RUN_ID": {
									"value": {
										"value": "@activity('Copy data1').activityRunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"NAME": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"Pipeline_run_ID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"rowsCopied": {
									"value": {
										"value": "@activity('Copy data1').output.rowsCopied",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"rowsRead": {
									"value": {
										"value": "@activity('Copy data1').output.rowsRead",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"RUN_START": {
									"value": {
										"value": "@activity('Copy data1').output.executionDetails[0].start",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"STATUS": {
									"value": {
										"value": "@activity('Copy data1').output.executionDetails[0].status",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer_Coe",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Stored Procedure1_copy1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Stored Procedure1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[DROPDUPLICATES]"
						},
						"linkedServiceName": {
							"referenceName": "SqlServer_Coe",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DelimitedText2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline8')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "Coe_Bussiness_Source",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Filter1",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set variable1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"condition": {
								"value": "@greater(string(variables('last')),utcnow())",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Lookup1_copy1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT MAX(Time) last FROM [dbo].[Data_Load_Ref_Table]",
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "Coe_Bussiness_Source_Table",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Lookup1_copy1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "last",
							"value": {
								"value": "@array(activity('Lookup1_copy1').output.value[0].last)",
								"type": "Expression"
							}
						}
					}
				],
				"variables": {
					"last": {
						"type": "Array"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Automation_Source_wise')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "Coe_Bussiness_Source_Table",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Switch1",
									"type": "Switch",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"on": {
											"value": "@item().Copy_Model",
											"type": "Expression"
										},
										"cases": [
											{
												"value": "SqlServer_ADLS2",
												"activities": [
													{
														"name": "Execute Pipeline1",
														"type": "ExecutePipeline",
														"dependsOn": [],
														"userProperties": [],
														"typeProperties": {
															"pipeline": {
																"referenceName": "SQLSERVER_ADLS2",
																"type": "PipelineReference"
															},
															"waitOnCompletion": true,
															"parameters": {}
														}
													}
												]
											},
											{
												"value": "SqlServer_FileSystem",
												"activities": [
													{
														"name": "Execute Pipeline2",
														"type": "ExecutePipeline",
														"dependsOn": [],
														"userProperties": [],
														"typeProperties": {
															"pipeline": {
																"referenceName": "SQLSERVER_FILESYSTEM",
																"type": "PipelineReference"
															},
															"waitOnCompletion": true,
															"parameters": {}
														}
													}
												]
											},
											{
												"value": "FileSystem_ADLS2",
												"activities": [
													{
														"name": "Execute Pipeline3",
														"type": "ExecutePipeline",
														"dependsOn": [],
														"userProperties": [],
														"typeProperties": {
															"pipeline": {
																"referenceName": "FileSytem_ADLS2",
																"type": "PipelineReference"
															},
															"waitOnCompletion": true,
															"parameters": {}
														}
													}
												]
											}
										]
									}
								}
							]
						}
					}
				],
				"folder": {
					"name": "COE"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/SQLSERVER_FILESYSTEM')]",
				"[concat(variables('factoryId'), '/pipelines/FileSytem_ADLS2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stored Procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Execute Pipeline1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[DROPDUPLICATES]"
						},
						"linkedServiceName": {
							"referenceName": "SqlServer_Coe",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Execute Pipeline1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipeline1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pipeline1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Pipeline_For_FullLoad')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "cp_OnPrim_SqlServer_Bussiness",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Coe_Business_cp",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "cp_activity_sourcewise",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Stored Procedure_data_Load_Control_Table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Automation_Source_wise",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Stored Procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "cp_activity_sourcewise",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Data_Load_Control_Table_Ref]",
							"storedProcedureParameters": {
								"Actitity_runid": {
									"value": {
										"value": "@activity('cp_activity_sourcewise').activityRunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Activity_name": {
									"value": {
										"value": "@pipeline().parameters.Second_Activity",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecutionEndTime": {
									"value": {
										"value": "@activity('cp_activity_sourcewise').ExecutionEndTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ExecutionStartTime": {
									"value": {
										"value": "@activity('cp_activity_sourcewise').ExecutionStartTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"Pipeline_Name": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"Pipeline_Runid": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": {
										"value": "@activity('cp_activity_sourcewise').Status",
										"type": "Expression"
									},
									"type": "String"
								},
								"StatusCode": {
									"value": {
										"value": "@activity('cp_activity_sourcewise').StatusCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"activity_pipeline_info": {
									"value": {
										"value": "@activity('cp_activity_sourcewise').output",
										"type": "Expression"
									}
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer_Coe",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Stored Procedure_data_Load_Control_Table",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "cp_OnPrim_SqlServer_Bussiness",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Data_Load_Control_Table_Ref]",
							"storedProcedureParameters": {
								"Actitity_runid": {
									"value": {
										"value": "@activity('cp_OnPrim_SqlServer_Bussiness').activityRunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Activity_name": {
									"value": {
										"value": "@pipeline().parameters.First_Activity",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecutionEndTime": {
									"value": {
										"value": "@activity('cp_OnPrim_SqlServer_Bussiness').ExecutionEndTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ExecutionStartTime": {
									"value": {
										"value": "@activity('cp_OnPrim_SqlServer_Bussiness').ExecutionStartTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"Pipeline_Name": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"Pipeline_Runid": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": {
										"value": "@activity('cp_OnPrim_SqlServer_Bussiness').Status",
										"type": "Expression"
									},
									"type": "String"
								},
								"StatusCode": {
									"value": {
										"value": "@activity('cp_OnPrim_SqlServer_Bussiness').StatusCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"activity_pipeline_info": {
									"value": {
										"value": "@activity('cp_OnPrim_SqlServer_Bussiness').output",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer_Coe",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Stored Procedure_Error_Log",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "cp_OnPrim_SqlServer_Bussiness",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Error_Log_Table_Ref]",
							"storedProcedureParameters": {
								"Actitity_runid": {
									"value": {
										"value": "@activity('cp_OnPrim_SqlServer_Bussiness').activityRunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Activity_name": {
									"value": {
										"value": "@pipeline().parameters.First_Activity",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecutionEndTime": {
									"value": {
										"value": "@activity('cp_OnPrim_SqlServer_Bussiness').ExecutionEndTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ExecutionStartTime": {
									"value": {
										"value": "@activity('cp_OnPrim_SqlServer_Bussiness').ExecutionStartTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"Pipeline_Name": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"Pipeline_Runid": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": {
										"value": "@activity('cp_OnPrim_SqlServer_Bussiness').Status",
										"type": "Expression"
									},
									"type": "String"
								},
								"StatusCode": {
									"value": {
										"value": "@activity('cp_OnPrim_SqlServer_Bussiness').StatusCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"activity_pipeline_info": {
									"value": {
										"value": "@activity('cp_OnPrim_SqlServer_Bussiness').output",
										"type": "Expression"
									}
								},
								"error_message": {
									"value": {
										"value": "@activity('cp_OnPrim_SqlServer_Bussiness').Error.Message",
										"type": "Expression"
									}
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer_Coe",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Stored Procedure1_copy1_copy1_copy1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "cp_activity_sourcewise",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Error_Log_Table_Ref]",
							"storedProcedureParameters": {
								"Actitity_runid": {
									"value": {
										"value": "@activity('cp_OnPrim_SqlServer_Bussiness').activityRunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Activity_name": {
									"value": {
										"value": "@pipeline().parameters.Second_Activity",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecutionEndTime": {
									"value": {
										"value": "@activity('cp_OnPrim_SqlServer_Bussiness').ExecutionEndTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ExecutionStartTime": {
									"value": {
										"value": "@activity('cp_OnPrim_SqlServer_Bussiness').ExecutionStartTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"Pipeline_Name": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"Pipeline_Runid": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": {
										"value": "@activity('cp_OnPrim_SqlServer_Bussiness').Status",
										"type": "Expression"
									},
									"type": "String"
								},
								"StatusCode": {
									"value": {
										"value": "@activity('cp_OnPrim_SqlServer_Bussiness').StatusCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"activity_pipeline_info": {
									"value": {
										"value": "@activity('cp_OnPrim_SqlServer_Bussiness').output",
										"type": "Expression"
									}
								},
								"error_message": {
									"value": {
										"value": "@activity('cp_activity_sourcewise').output.errors[0].Message",
										"type": "Expression"
									}
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer_Coe",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"First_Activity": {
						"type": "string",
						"defaultValue": "cp_OnPrim_SqlServer_Bussiness"
					},
					"Second_Activity": {
						"type": "string",
						"defaultValue": "cp_activity_sourcewise"
					}
				},
				"folder": {
					"name": "COE"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Coe_Business_cp')]",
				"[concat(variables('factoryId'), '/pipelines/Automation_Source_wise')]"
			]
		}
	]
}