pipeline/Load_All_Tables.json
{
	"name": "Load_All_Tables",
	"properties": {
		"activities": [
			{
				"name": "Getting_all_Tables_Names",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT '['+SCHEMA_NAME(schema_id)+'].['+name+']'\nAS SchemaTable\nFROM sys.tables"
					},
					"dataset": {
						"referenceName": "SqlServerTable_Coe_Poc",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "itratingalltables",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Getting_all_Tables_Names",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Getting_all_Tables_Names').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "CopyingTablesByItrating",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": "SELECT * FROM @{item().SchemaTable}"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "SqlServerTable_Coe_Poc",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "All_Tables",
									"type": "DatasetReference",
									"parameters": {
										"windowStart": "@utcnow()",
										"Table_Name": "@{item().SchemaTable}"
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}