pipeline/pipeline8.json
{
	"name": "pipeline8",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "Coe_Bussiness_Source_Table",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Switch1",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@and(equals(item().Source_Type,'SqlServer'),equals(item().Target_Dir_Type,'ADLS2'))",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "truw",
										"activities": [
											{
												"name": "Execute Pipeline1",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "SQLSERVER_FILESYSTEM",
														"type": "PipelineReference"
													},
													"waitOnCompletion": false
												}
											}
										]
									},
									null,
									null
								]
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}