pipeline/Pipeline_For_FullLoad.json
{
	"name": "Pipeline_For_FullLoad",
	"properties": {
		"activities": [
			{
				"name": "cp_OnPrim_SqlServer_Bussiness",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Coe_Bussiness_cp",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "cp_activity_sourcewise",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Stored Procedure1_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Automation_Source_wise",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Stored Procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "cp_activity_sourcewise",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[Load_Job_Ref]",
					"storedProcedureParameters": {
						"Actitity_runid": {
							"value": {
								"value": "@activity('cp_OnPrim_SqlServer_Bussiness').ActivityRunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Activity_name": {
							"value": {
								"value": "@pipeline().parameters.Second_Activity",
								"type": "Expression"
							},
							"type": "String"
						},
						"Pipeline_Name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"Pipeline_Runid": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Start": {
							"value": {
								"value": "@activity('cp_OnPrim_SqlServer_Bussiness').ExecutionStartTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"Status": {
							"value": {
								"value": "@activity('cp_OnPrim_SqlServer_Bussiness').Status",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SqlServer_Coe",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Stored Procedure1_copy1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "cp_OnPrim_SqlServer_Bussiness",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[Load_Job_Ref]",
					"storedProcedureParameters": {
						"Actitity_runid": {
							"value": {
								"value": "@activity('cp_OnPrim_SqlServer_Bussiness').ActivityRunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Activity_name": {
							"value": {
								"value": "@pipeline().parameters.First_Activity",
								"type": "Expression"
							},
							"type": "String"
						},
						"Pipeline_Name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"Pipeline_Runid": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Start": {
							"value": {
								"value": "@activity('cp_OnPrim_SqlServer_Bussiness').ExecutionStartTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"Status": {
							"value": {
								"value": "@activity('cp_OnPrim_SqlServer_Bussiness').Status",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SqlServer_Coe",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"First_Activity": {
				"type": "string",
				"defaultValue": "cp_OnPrim_SqlServer_Bussiness"
			},
			"Second_Activity": {
				"type": "string",
				"defaultValue": "cp_activity_sourcewise"
			}
		},
		"folder": {
			"name": "COE"
		},
		"annotations": []
	}
}