BuildingAzureDataPipelineCoe/PartialArmTemplates/ArmTemplate_12_13_2019_14_55_3.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "BuildingAzureDataPipelineCoe"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/FileSytem_ADLS2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[dbo].[Configuration_cp_filesystem_adls2]",
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "Coe_Bussiness_Source_Table",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "FileServerReadSettings",
												"recursive": true,
												"wildcardFileName": "*"
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings",
												"copyBehavior": "FlattenHierarchy"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "FileSytem_Dataset",
											"type": "DatasetReference",
											"parameters": {
												"dir": {
													"value": "@item().Source_Dir",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ADLS2_Dataset",
											"type": "DatasetReference",
											"parameters": {
												"Target_Dir": {
													"value": "@item().Target_Dir",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Stored Procedure1",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy data1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[Copy_act_Component_Ref]",
										"storedProcedureParameters": {
											"name": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"pipeline_id": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"rowsCopied": {
												"value": {
													"value": "@activity('Copy data1').output.rowsCopied",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"rowsRead": {
												"value": {
													"value": "@activity('Copy data1').output.rowsRead",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"runid": {
												"value": {
													"value": "@activity('Copy data1').activityRunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"S_No": {
												"value": {
													"value": "@item().S_No",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"Schema_Name": {
												"value": {
													"value": "@item().Schema_Name",
													"type": "Expression"
												},
												"type": "String"
											},
											"sink": {
												"value": {
													"value": "@activity('Copy data1').output.executionDetails[0].sink.type",
													"type": "Expression"
												},
												"type": "String"
											},
											"source": {
												"value": {
													"value": "@activity('Copy data1').output.executionDetails[0].source.type",
													"type": "Expression"
												},
												"type": "String"
											},
											"start": {
												"value": {
													"value": "@activity('Copy data1').output.executionDetails[0].start",
													"type": "Expression"
												},
												"type": "String"
											},
											"status": {
												"value": {
													"value": "@activity('Copy data1').output.executionDetails[0].status",
													"type": "Expression"
												},
												"type": "String"
											},
											"Table_Name": {
												"value": {
													"value": "@item().Table_Name",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "SqlServer_Coe",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Stored Procedure2",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy data1",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[Copy_act_Component_errors_Ref]",
										"storedProcedureParameters": {
											"full_load_errors": {
												"value": {
													"value": "@activity('Copy data1').output.errors[0].Message",
													"type": "Expression"
												},
												"type": "String"
											},
											"name": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"pipeline_id": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"runid": {
												"value": {
													"value": "@activity('Copy data1').activityRunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"S_No": {
												"value": {
													"value": "@item().S_No",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"Schema_Name": {
												"value": null,
												"type": "String"
											},
											"Table_Name": {
												"value": null,
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "SqlServer_Coe",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"folder": {
					"name": "COE"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Pipeline_For_FullLoad')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute Pipeline1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipeline1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "Execute Pipeline2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Pipeline1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipeline4",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLSERVER_ADLS2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[dbo].[Configuration_cp_sqlserver_adls2]",
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "Coe_Bussiness_Source_Table",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"queryTimeout": "02:00:00"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings",
												"copyBehavior": "FlattenHierarchy"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "Sql_server_Full_Parametrized",
											"type": "DatasetReference",
											"parameters": {
												"Schema_Name": {
													"value": "@item().Schema_Name",
													"type": "Expression"
												},
												"Table_Name": {
													"value": "@item().Table_Name",
													"type": "Expression"
												},
												"Host_Name": {
													"value": "@item().HostName",
													"type": "Expression"
												},
												"Database_Name": {
													"value": "@item().DataBasename",
													"type": "Expression"
												},
												"Username": {
													"value": "@item().UserName",
													"type": "Expression"
												},
												"Password": {
													"value": "@item().password",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ADLS2_Dataset",
											"type": "DatasetReference",
											"parameters": {
												"Target_Dir": {
													"value": "@item().Target_Dir",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Stored Procedure1",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy data1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[Copy_act_Component_Ref]",
										"storedProcedureParameters": {
											"name": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"pipeline_id": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"rowsCopied": {
												"value": {
													"value": "@activity('Copy data1').output.rowsCopied",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"rowsRead": {
												"value": {
													"value": "@activity('Copy data1').output.rowsRead",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"runid": {
												"value": {
													"value": "@activity('Copy data1').activityRunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"S_No": {
												"value": {
													"value": "@item().S_No",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"Schema_Name": {
												"value": {
													"value": "@item().Schema_Name",
													"type": "Expression"
												},
												"type": "String"
											},
											"sink": {
												"value": {
													"value": "@activity('Copy data1').output.executionDetails[0].sink.type",
													"type": "Expression"
												},
												"type": "String"
											},
											"source": {
												"value": {
													"value": "@activity('Copy data1').output.executionDetails[0].source.type",
													"type": "Expression"
												},
												"type": "String"
											},
											"start": {
												"value": {
													"value": "@activity('Copy data1').output.executionDetails[0].start",
													"type": "Expression"
												},
												"type": "String"
											},
											"status": {
												"value": {
													"value": "@activity('Copy data1').output.executionDetails[0].status",
													"type": "Expression"
												},
												"type": "String"
											},
											"Table_Name": {
												"value": {
													"value": "@item().Table_Name",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "SqlServer_Coe",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Stored Procedure2",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy data1",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[Copy_act_Component_errors_Ref]",
										"storedProcedureParameters": {
											"full_load_errors": {
												"value": {
													"value": "@activity('Copy data1').output.errors[0].Message",
													"type": "Expression"
												},
												"type": "String"
											},
											"name": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"pipeline_id": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"runid": {
												"value": {
													"value": "@activity('Copy data1').activityRunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"S_No": {
												"value": {
													"value": "@item().S_No",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"Schema_Name": {
												"value": {
													"value": "@item().Schema_Name",
													"type": "Expression"
												},
												"type": "String"
											},
											"Table_Name": {
												"value": {
													"value": "@item().Table_Name",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "SqlServer_Coe",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"folder": {
					"name": "COE"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLSERVER_FILESYSTEM')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[dbo].[Configuration_cp_sqlserver]",
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "Coe_Bussiness_Source_Table",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"queryTimeout": "02:00:00"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "FileServerWriteSettings",
												"copyBehavior": "FlattenHierarchy"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "Sql_server_Full_Parametrized",
											"type": "DatasetReference",
											"parameters": {
												"Schema_Name": {
													"value": "@item().Schema_Name",
													"type": "Expression"
												},
												"Table_Name": {
													"value": "@item().Table_Name",
													"type": "Expression"
												},
												"Host_Name": {
													"value": "@item().HostName",
													"type": "Expression"
												},
												"Database_Name": {
													"value": "@item().DataBasename",
													"type": "Expression"
												},
												"Username": {
													"value": "@item().UserName",
													"type": "Expression"
												},
												"Password": {
													"value": "@item().password",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "FileSytem_Dataset",
											"type": "DatasetReference",
											"parameters": {
												"dir": {
													"value": "@item().Target_Dir",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Stored Procedure1",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy data1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[Copy_act_Component_Ref]",
										"storedProcedureParameters": {
											"name": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"pipeline_id": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"rowsCopied": {
												"value": {
													"value": "@activity('Copy data1').output.rowsCopied",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"rowsRead": {
												"value": {
													"value": "@activity('Copy data1').output.rowsRead",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"runid": {
												"value": {
													"value": "@activity('Copy data1').activityRunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"S_No": {
												"value": {
													"value": "@item().S_No",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"Schema_Name": {
												"value": {
													"value": "@item().Schema_Name",
													"type": "Expression"
												},
												"type": "String"
											},
											"sink": {
												"value": {
													"value": "@activity('Copy data1').output.executionDetails[0].sink.type",
													"type": "Expression"
												},
												"type": "String"
											},
											"source": {
												"value": {
													"value": "@activity('Copy data1').output.executionDetails[0].source.type",
													"type": "Expression"
												},
												"type": "String"
											},
											"start": {
												"value": {
													"value": "@activity('Copy data1').output.executionDetails[0].start",
													"type": "Expression"
												},
												"type": "String"
											},
											"status": {
												"value": {
													"value": "@activity('Copy data1').output.executionDetails[0].status",
													"type": "Expression"
												},
												"type": "String"
											},
											"Table_Name": {
												"value": {
													"value": "@item().Table_Name",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "SqlServer_Coe",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Stored Procedure2",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy data1",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[Copy_act_Component_errors_Ref]",
										"storedProcedureParameters": {
											"full_load_errors": {
												"value": {
													"value": "@activity('Copy data1').output.errors[0].Message",
													"type": "Expression"
												},
												"type": "String"
											},
											"name": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"pipeline_id": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"runid": {
												"value": {
													"value": "@activity('Copy data1').activityRunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"S_No": {
												"value": {
													"value": "@item().S_No",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"Schema_Name": {
												"value": {
													"value": "@item().Schema_Name",
													"type": "Expression"
												},
												"type": "String"
											},
											"Table_Name": {
												"value": {
													"value": "@item().Table_Name",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "SqlServer_Coe",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"folder": {
					"name": "COE"
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}