BuildingAzureDataPipelineCoe/PartialArmTemplates/ArmTemplate_12_13_2019_13_8_20.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "BuildingAzureDataPipelineCoe"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Automation_Source_wise')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "Coe_Bussiness_Source_Table",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Switch1",
									"type": "Switch",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"on": {
											"value": "@item().Copy_Model",
											"type": "Expression"
										},
										"cases": [
											{
												"value": "SqlServer_ADLS2",
												"activities": [
													{
														"name": "Execute Pipeline1",
														"type": "ExecutePipeline",
														"dependsOn": [],
														"userProperties": [],
														"typeProperties": {
															"pipeline": {
																"referenceName": "SQLSERVER_ADLS2",
																"type": "PipelineReference"
															},
															"waitOnCompletion": true
														}
													}
												]
											},
											{
												"value": "SqlServer_FileSystem",
												"activities": [
													{
														"name": "Execute Pipeline2",
														"type": "ExecutePipeline",
														"dependsOn": [],
														"userProperties": [],
														"typeProperties": {
															"pipeline": {
																"referenceName": "SQLSERVER_FILESYSTEM",
																"type": "PipelineReference"
															},
															"waitOnCompletion": true
														}
													}
												]
											},
											{
												"value": "FileSystem_ADLS2",
												"activities": [
													{
														"name": "Execute Pipeline3",
														"type": "ExecutePipeline",
														"dependsOn": [],
														"userProperties": [],
														"typeProperties": {
															"pipeline": {
																"referenceName": "FileSytem_ADLS2",
																"type": "PipelineReference"
															},
															"waitOnCompletion": true
														}
													}
												]
											}
										]
									}
								}
							]
						}
					}
				],
				"folder": {
					"name": "COE"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FileServer1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "C:\\Coe",
					"userId": "harshavardhanreddy.kurakula@dxc.com",
					"password": {
						"type": "SecureString",
						"value": "**********"
					}
				},
				"connectVia": {
					"referenceName": "Client",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		}
	]
}